:root {
  --basic-white: #ffffff;
  --basic-white-30: rgba(255, 255, 255, 0.3);
  --basic-white-50: rgba(255, 255, 255, 0.5);
  --products-item-shadow-15: rgba(0, 0, 0, 0.15);
  --products-item-border: #EAEAEA;
  --modal-shadow-70: rgba(0, 0, 0, 0.7);
  --services-button-shadow: #405069;
  --basic-black: #000000;
  --bg-slider-25: rgba(0, 0, 0, 0.25);
  --bg-buy-button: #F1F1F1;
  --shadow-toggle: #cfcfcf;
  --black-bg: #161D29;
  --header-bg-top: #293449;
  --navigation-bg: #32425C;
  --navigation-bg-hover: #293449;
  --navigation-bg-focus: #1D2739;
  --icon-hover: #3D546F;
  --pagination-button: #E5E5E5;
  --bg-filter-scale: #D7DCDE;
  --main-color: #EE3643;
  --main-color-hover: #CA2C37;
  --main-color-focus: #BA2732;
  --logo-shadow: #B52933;
  --accept-bg: #63A63E;
  --accept-bg-hover: #5FBB2D;
  --accept-bg-focus: #518534;
  --bg-bar: #00ca74;
  --button-shadow: #367315;
  --materials-bg: #FFBF47;
  --tool-bg: #3BBCE3;
  --technic-bg: #DC91D8;
  --discounts-bg: #8ED78F;
  --delivery-bg: #FFC047;
  --title-bg: #F9F5F0;
  --bg-modal-map: #eeeae3;
  --text-darck-grey: #A9A9A9;
  --service-bg: #F1F5F7;
  --footer-link-top: #FFDA96;
  --footer-link-bott: #FFD180;
  --footer-contact: #F3F7F9;
  --filter-bg: #F7F3EC;
  --social-bg: #212A3A;
  --title-catalog-bg: #F2F6F8;
  --arrow-grey: #c5c5c5;
  --grey-hover-30: rgba(197, 197, 197, 0.3);
  --grey-focus-30: rgba(169, 169, 169, 0.3);
  --form-hover: #B5B5B5;
  --border-arrow: #C1C6CE;
  --bg-popup: #F4F4F4;
}

*,*::before,*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--basic-white);
  font-family: "Cuprum", Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  min-width: 960px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  color: var(--basic-white);
  background-color: var(--main-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
}

.button:hover {
  background-color: var(--main-color-hover);
}

.button:active {
  background-color: var(--main-color-focus);
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.new-label:after {
  content: "NEW";
  position: absolute;
  top: 8px;
  right: -25px;
  transform: rotate(45deg);
  width: 100px;
  height: 30px;
  background-color: var(--main-color);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* *******header********* */

.header {
  background-color: var(--service-bg);
  padding-bottom: 60px;
}

.header-top {
  background-color: var(--header-bg-top)
}

.container-header-top {
  display: flex;
  flex-wrap: wrap;
}

.header-logo {
  box-shadow: 0px 5px 0px var(--logo-shadow);
}

.header-logo img {
  display: block;
  width: 220px;
  height: 42px;
  object-fit: contain;
}

.header-search {
  width: 270px;
  position: relative;
}

.header-search-icon {
  fill: var(--basic-white-30);
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
}

.header-search-input:hover ~ .header-search-icon {
  fill: var(--basic-white);
}

.header-search-input:focus ~ .header-search-icon {
  fill: var(--main-color);
}

.header-search-input {
  background-color: transparent;
  width: 100%;
  border: none;
  height: 100%;
  outline: none;
  padding-left: 42px;
}

.header-search-input::placeholder {
  color: var(--basic-white);
}

.header-top-link {
  color: var(--basic-white);
  min-width: 150px;
  padding: 10px 0 8px;
  display: flex;
  justify-content: center;
  position: relative;
}

.header-top-link:active {
  color: var(--basic-white-50);
}

.header-search-input:focus {
  background-color: var(--basic-white);
}

.header-link-full {
  background-color: var(--main-color);
}

.bookmarks-link {
  padding-right: 14px;
}

.bookmarks-link:before {
  content: "";
  display: block;
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
  margin: 3px 9px;
  opacity: 0.3;
}

.bookmarks-link:hover:before {
  opacity: 1;
}

.bookmarks-link:active:before {
  opacity: 0.3;
}

.basket-link {
  padding-right: 11px;
}

.basket-link:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-cart.svg);
  margin: 3px 9px;
  opacity: 0.3;
}

.basket-link:hover:before {
  opacity: 1;
}

.basket-link:active:before {
  opacity: 0.3;
}

.bookmarks-link:active,
.basket-link:active {
  background-color: var(--black-bg);
}

.order-link {
  background-color: var(--accept-bg);
}

.order-link:hover {
  background-color: var(--accept-bg-hover);
}

.order-link:active {
  background-color: var(--accept-bg);
}

/* ********header-mid********* */

.header-mid {
  display: grid;
  grid-template-columns: 300px 270px 1fr;
  grid-gap: 20px;
  padding-top: 45px;
  padding-bottom: 39px;
}

.header-title {
  color: var(--main-color);
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  font-style: italic;
  padding-left: 30px;
  margin: 0;
}

.header-contacts {
  color: var(--navigation-bg);
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.header-contacts-link {
  color: var(--main-color);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;

  display: flex;
  border: 3px solid var(--basic-white);
  justify-content: flex-end;
  padding: 5px 42px 6px 58px;
  margin-bottom: 3px;
  min-width: 270px;
  position: relative;
}

.header-contacts-link::before {
  content: "";
  position: absolute;
  left: 36px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-telephone.svg);
  background-repeat: no-repeat;
  margin: 6px 0 0;
}

.header-signup {
  justify-self: end;
  justify-content: flex-end;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.header-signup-link {
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  padding: 14px 0;
  margin-left: 10px;
}

.header-signup-link:nth-child(n+3) {
  margin-top: 5px;
}

.header-signup-link:hover {
  color: var(--main-color);
}

.header-signup-link:active {
  color: var(--arrow-grey);
}

.header-signup-enter {
  padding-left: 19px;
  padding-right: 28px;
  display: flex;
  align-items: center;
}

.header-signup-icon {
  margin-right: 6px;
}

.header-signup-icon-path {
  fill: var(--arrow-grey);
}

.header-signup-enter:hover > .header-signup-icon > .header-signup-icon-path {
  fill: var(--icon-hover);
}

.header-signup-enter:active > .header-signup-icon > .header-signup-icon-path {
  fill: var(--arrow-grey);
}

.header-signup-registration {
  padding-left: 24px;
  padding-right: 24px;
}

/* **********header-main-nav******** */

.main-nav-list {
  background-color: var(--navigation-bg);
  list-style-type: none;
  padding: 0 25px;
  margin: 0;
  box-shadow: inset 0px -5px 0px var(--header-bg-top);
  display: flex;
  flex-wrap: wrap;
}

.main-nav-item-link {
  color: var(--basic-white);
  display: block;
  padding: 17px 28px 19px;
}

.main-nav-item-link:hover {
  background-color: var(--navigation-bg-hover);
}

.main-nav-item-link:active {
  background-color: var(--navigation-bg-focus);
  color: var(--basic-white-50);
}

/* ****************************main************************* */

/* **********offers********** */

.offers {
  padding: 59px 0;
}

.offers-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.offers-item {
  padding: 20px 108px 21px 23px;
  overflow: hidden;
  position: relative;
}

.offers-title {
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.offers-link {
  color: var(--basic-white);
  background-color: var(--basic-white-30);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items:center;
  justify-content: center;
  width: 135px;
  padding: 10px 0;
  margin-top: 14px;
}

.offers-link:hover {
  background-color: var(--grey-hover-30);
}

.offers-link:active {
  background-color: var(--grey-focus-30);
}

.offers-item-materials {
  background: var(--materials-bg) url(../img/bucket-1.svg) no-repeat;
  background-position: top 31px right 43px;
}

.offers-item-tool {
  background: var(--tool-bg) url(../img/drill-2.svg) no-repeat;
  background-position: top 34px right 33px;
}

.offers-item-technic {
  background: var(--technic-bg) url(../img/tractor-3.svg) no-repeat;
  background-position: top 31px right 31px;
}

.offers-item-discounts {
  background: var(--discounts-bg) url(../img/basket-4.svg) no-repeat;
  background-position: top 27px right 45px;
}

.offers-item-delivery {
  background: var(--delivery-bg) url(../img/car-5.svg) no-repeat;
  background-position: top 32px right 31px;
}

.offers-item-slider {
  grid-column: 1/3;
  grid-row: 2/4;
  position: relative;
  background-color: var(--basic-black);
}

.offers-slider-wrap {
  height: 100%;
}

.offers-slide {
  background-repeat: no-repeat;
  background-color: var(--navigation-bg);
  background-size: cover;
  height: 100%;
  display: none;
}

.offers-slide-active {
  display: block;
}

.offers-slide-hammer {
  background-image: url(../img/hammer.jpg);
}

.offers-slide-drill {
  background-image: url(../img/drill.jpg);
}

.offers-slide-top {
  background-color: var(--bg-slider-25);
  padding: 23px 24px 16px;
}

.offers-slider-title {
  color: var(--basic-white);
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.offers-slider-suptitle {
  color: var(--basic-white);
  margin: 5px 0 0 0;
}

.offers-slider-controls {
  position: absolute;
  top: 47%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.offers-slider-controls-back,
.offers-slider-controls-next {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-left: 3px solid var(--basic-white);
  border-bottom: 3px solid var(--basic-white);
  cursor: pointer;
}

.offers-slider-controls-back {
  transform: rotate(45deg);
}

.offers-slider-controls-next {
  transform: rotate(-135deg);
}

.offers-slider-dots {
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
}

.offers-slider-dot {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.offers-slider-dot:not(:last-child) {
  margin-right: 10px;
}

.offers-slider-dot-active {
  background-color: var(--main-color);
}

.offers-slider-dot:focus {
  border: 2px solid var(--basic-white);
}

.offers-slider-button {
  min-width: 192px;
  position: absolute;
  left: 24px;
  bottom: 27px;
}

/* *********************products*********** */

.products {
  padding-bottom: 70px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.products-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 21px;
  border: 1px solid var(--products-item-border);
  text-align: center;
  min-width: 220px;
  overflow: hidden;
  position: relative;
}

.products-item:hover {
  box-shadow:0px 4px 20px var(--products-item-shadow-15);
}

.products-item-image {
  width: 220px;
  height: 170px;
  object-fit: contain;
}

.products-buttons {
  position: absolute;
  width: 100%;
  height: 170px;
  background-color: var(--basic-white);
  opacity: 0;
  display: flex;
  flex-direction: column;
  padding: 38px 44px 38px 41px;
}

.products-buttons:focus-within,
.products-item:hover .products-buttons {
  opacity: 1;
}

.products-button-buy,
.products-button-bookmarks {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
}

.products-button-buy {
  padding: 10px 40px 10px 53px;
  background-color: var(--accept-bg);
  background-image: url(../img/icon-cart-opasiti.svg);
  background-repeat: no-repeat;
  background-position: 30px 10px;
  box-shadow: inset 0px -3px 0px var(--button-shadow);
  margin-bottom: 10px;
  color: var(--basic-white);
}

.products-button-buy:hover {
  background-color: var(--accept-bg-hover);
}

.products-button-buy:active {
  background-color: var(--accept-bg-focus);
}

.products-button-bookmarks {
  padding: 8px 0 6px;
  background-color: var(--basic-white);
  border: 3px solid var(--accept-bg);
  cursor: pointer;
  color: var(--navigation-bg);
}

.products-button-bookmarks:hover {
  border: 3px solid var(--navigation-bg);
}

.products-button-bookmarks:active {
  opacity: 0.3;
}

.products-item-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  padding: 9px 18px 7px;
  margin: 0;
}

.products-item-title + .products-item-price {
  margin-top: 31px;
}

.products-item-old-price {
  color: var(--text-darck-grey);
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.products-item-price {
  color: var(--basic-white);
  background-color: var(--main-color);
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  margin: 13px 0 0 0;
  padding: 10px 25px 10px 32px;
  border-radius: 5px 0 0 5px;
  position: relative;
}

.products-item-price:after {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  top: 6px;
  right: -13px;
  width: 26px;
  height: 26px;
  transform: rotate(45deg);
}


/* ********brand*********** */

.brand {
  padding-bottom: 70px;
}

.heading-bar {
  background-color: var(--title-bg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 26px 15px 25px 28px;
  margin-bottom: 20px;
}

.heading-bar-title {
  color: var(--navigation-bg);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
}

.heading-bar-button {
  min-width: 192px;
}

.brand-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.brand-item img {
  display: block;
  object-fit: contain;
}

.brand-item-img:hover {
  filter: drop-shadow(0px 4px 20px var(--products-item-shadow-15));
}

.brand-item-img:active {
  opacity: 0.5;
}

/* ******************services****************** */

.services {
  background-color: var(--service-bg);
  padding: 65px 0 99px 0;
  margin-bottom: 73px;
}

.services-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
}

.services-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  margin: 25px 0 70px 0;
}

.services-slider {
  display: flex;
}

.services-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 240px;
  position: relative;
  flex-shrink: 0;
}

.services-list:after {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;
  width: 10px;
  height: 279px;
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
}

.services-item-button {
  color: var(--basic-white);
  background-color: var(--navigation-bg);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  padding: 13px 22px 17px;
  margin-top: 1px;
  width: 100%;
  border: none;
  box-shadow: 0px 1px 0px var(--header-bg-top), inset 0px 1px 0px var(--services-button-shadow);
}

.services-item-button:hover {
  background-color: var(--navigation-bg-hover);
}

.services-item-button-active {
  background-color: var(--basic-white);
  color: var(--navigation-bg);
  box-shadow: 0px 1px 0px var(--basic-white);
  pointer-events: none;
}

.services-slides {
  padding-left: 80px;
  width: 100%;
}

.services-slide {
  display: none;
  height: 100%;
}

.services-slide-active {
  display: block;
}

.services-slide-title {
  color: var(--navigation-bg);
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding-bottom: 29px;
  margin: 0;
}

.services-slide p {
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  margin: 0;
}

.services-slide-delivery {
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  background-position: 100% 19px;
}

.services-slide-guarantee {
  background-image: url(../img/guarantee.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.services-slide-credit {
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

/* **********company-info********** */

.about-company {
  display: grid;
  grid-template-columns: 460px 301px;
  justify-content: space-between;
  padding-bottom: 70px;
}

.company-info-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 24px 0;
  font-weight: normal;
}

.company-info-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  margin: 0 0 25px 0;
}

.company-info-text-padding {
  margin-bottom: 0;
}

.company-info-list {
  list-style: none;
  padding: 0;
  margin: 3px 0 0;
}

.company-info-item {
  padding-left: 37px;
  margin-bottom: 12px;
  position: relative;
}

.company-info-item:last-child {
  margin-bottom: 20px;
}

.company-info-item::before {
  content: "";
  background-color: var(--main-color);
  width: 25px;
  height: 2px;
  top: 50%;
  left: 0;
  position: absolute;
}

.company-info-button {
  display: inline-flex;
  justify-content: center;
  min-width: 220px;
}

/* ***********company-contacts**************** */

.company-contacts-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
}

.company-contacts-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  margin: 24px 0 32px 0;
}

.company-contacts-link {
  display: block;
}

.company-contacts-map {
  width: 300px;
  height: 158px;
  object-fit: cover;
  display: block;
}

.company-contacts-button {
  display: block;
  margin-top: 25px;
}

/* *********************************footer************************ */

.footer-top {
  background-color: var(--navigation-bg);
}

.container-footer-top {
  display: grid;
  grid-template-columns: 335px 1fr;
}

.footer-contact-logo {
  object-fit: contain;
  width: 220px;
  height: 68px;
}

.footer-contact-phone,
.footer-contact-address {
  color: var(--footer-contact);
  padding-bottom: 22px;
}

.footer-contact-address {
  padding: 0;
  margin: 16px 0 0 2px;
}

.footer-nav {
  padding: 20px 0 57px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-offers-list,
.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-offers-item-link,
.footer-nav-item-link {
  color: var(--footer-contact);
  display: block;
  padding: 17px 0 17px 58px;
}

.footer-offers-item-link {
  color: var(--footer-link-top);
}

.footer-nav-item-link:hover,
.footer-offers-item-link:hover {
  text-decoration: underline;
}

.footer-nav-item-link:active,
.footer-offers-item-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.container-footer-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 31px;
}

.footer-bottom {
  background-color: var(--header-bg-top);
}

.copyright {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  width: 300px;
  margin: 0 0 0 0;
}

.social-list {
  list-style-type: none;
  width: 311px;
  padding: 2px 0 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-item {
  margin: 0 2px;
}

.social-item-link {
  display: block;
  background-color: var(--social-bg);
  background-repeat: no-repeat;
  background-position: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;
}

.social-item-link:hover {
  background-color: var(--main-color);
}

.social-item-link:active {
  background-color: var(--main-color);
}

.social-item-link-vk {
  background-image: url(../img/icon-vk.svg);
}

.social-item-link-fb {
  background-image: url(../img/icon-fb.svg);
}

.social-item-link-inst {
  background-image: url(../img/icon-insta.svg);
}

.feedback-footer {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  width: 140px;
  margin: 0 0 0 30px;
}

.feedback-footer-developed {
  padding-left: 47px;
  margin: 0;
}

.feedback-footer a {
  color: var(--footer-link-bott);
  font-size: 16px;
  line-height: 18px;
}

.feedback-footer a:hover {
  text-decoration: underline;
}

.feedback-footer a:active {
  text-decoration: none;
  color: var(--main-color);
}

/* ******************************************catalog************************************** */

/* *********************header************ */

.user {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 30px;
}

.user-profile {
  background-color: var(--basic-white);
  display: flex;
}

.user-profile-link-avatar {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  padding: 13px 20px 11px 17px;
  display: flex;
  align-items: center;
}

.user-profile-link-avatar:active {
  color: var(--arrow-grey);
}

.user-profile-link-exit {
  display: flex;
  align-items: center;
  padding-right: 16px;
}

.user-profile-icon-exit {
  fill: var(--arrow-grey);
}

.user-profile-link-exit:hover > .user-profile-icon-exit {
  fill: var(--icon-hover);
}

.user-profile-link-exit:active > .user-profile-icon-exit {
  fill: var(--arrow-grey);
}

.user-profile-icon-avatar {
  fill: var(--arrow-grey);
  margin-right: 21px;
}

.user-profile-link-avatar:hover > .user-profile-icon-avatar {
  fill: var(--icon-hover);
}

.user-profile-link-avatar:active > .user-profile-icon-avatar {
  fill: var(--arrow-grey);
}

.user-menu {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 5px 29px 0;
}

.user-menu-item {
  padding: 0 15px 0 17px;
  position: relative;
}

.user-menu-item:not(:first-child):before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: var(--navigation-bg);
  border-radius: 50%;
}

.user-menu-link {
  color: var(--navigation-bg);
  font-size: 16px;
  line-height: 18px;
}

.user-menu-link:hover {
  color: var(--main-color);
}

.user-menu-link:active {
  color: var(--arrow-grey);
}

/* **********************main************* */

.crumbs-list {
  list-style-type: none;
  padding: 0;
  margin: 21px 0 21px;
  display: flex;
}

.crumbs-item {
  position: relative;
  padding-right: 22px;
  margin-right: 19px;
}

.crumbs-item:not(:last-child):after {
  content: "";
  display: inline-flex;
  width: 7px;
  height: 7px;
  border-top: 1px solid var(--border-arrow);
  border-right: 1px solid var(--border-arrow);
  transform: translateY(-50%) rotate(45deg);
  position: absolute;
  top: 50%;
  right: 0;
}


.crumbs-item-link {
  color: var(--basic-black);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
}

.crumbs-item-link-home {
  width: 14px;
  height: 12px;
  background-image: url(../img/icon-home.png);
  background-repeat: no-repeat;
}

.main-title-catalog {
  background-color: var(--title-catalog-bg);
  padding: 29px;
  margin-bottom: 20px;
}

/* **********filter********* */

.products-catalog {
  display: grid;
  grid-template-columns: 220px 3fr;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  padding-bottom: 55px;
}

.filter {
  grid-row: 1/-1;
}

.filter-main-title {
  background-color: var(--filter-bg);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  padding: 10px 18px;
  margin: 0 0 14px 0;
  text-transform: uppercase;
}

.filter-group {
  border: none;
  padding: 0 0 25px;
  position: relative;
}

.filter-group:not(:last-of-type) {
  border-bottom: 1px solid var(--arrow-grey);
  margin: 0 0 15px;
}

.filter-range-filter {
  margin-top: 11px;
  width: 220px;
}

.filter-range-controls {
  padding: 39px 20px;
  margin-bottom: 9px;
  background-color: var(--filter-bg);
}

.filter-scale {
  height: 2px;
  background-color: var(--bg-filter-scale);
  position: relative;
}

.filter-bar {
  height: 100%;
  width: 78%;
  background-color: var(--bg-bar);
}

.filter-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--bg-filter-scale);
  box-shadow: 0 2px 1px 0 var(--shadow-toggle);
  cursor: pointer;
}

.filter-toggle-min {
  left: 0;
}

.filter-toggle-max {
  left: 78%;
}

.filter-price-controls {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.filter-price-control {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  width: 95px;
  padding: 10px 5px;
  background-color: var(--filter-bg);
  border-radius: 4px;
  border: none;
  outline: none;
  text-align: center;
}

.filter-price-control[type="number"]::-webkit-outer-spin-button,
.filter-price-control[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.filter-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-group:last-of-type .filter-title {
  padding: 4px 0 8px;
}

.filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter-item:not(:last-child) {
  margin: 15px 0;
}

.filter-item-input:disabled + .filter-item-label {
  opacity: 0.4;
  cursor: auto;
}

.filter-item-label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  padding-left: 35px;
  cursor: pointer;
  position: relative;
}

.filter-item-checkbox:before {
  content: "";
  position: absolute;
  left: 0;
  width: 23px;
  height: 23px;
  border: 2px solid var(--arrow-grey);
  border-radius: 4px;
}

.filter-item-input:focus + .filter-item-label:before {
  outline: auto;
}

.filter-item-label:hover:before {
  border-color: var(--form-hover);
}

.filter-item-checkbox:after {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 9px;
  width: 19px;
  height: 11px;
  border-bottom: 4px solid var(--arrow-grey);
  border-left: 4px solid var(--arrow-grey);
  transform: rotate(-45deg);
  box-shadow: 0 2px 0 var(--basic-white);
  background-image: linear-gradient(to bottom, transparent 71%, var(--basic-white) 78%);
  display: none;
}

.filter-item-checkbox:hover:after {
  border-bottom-color: var(--form-hover);
  border-left-color: var(--form-hover);
}

.filter-item-input:checked + .filter-item-checkbox:after {
  display: block;
}

.filter-item-radio:before {
  content: "";
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border: 4px solid var(--arrow-grey);
  border-radius: 50%;
}

.filter-item-radio:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-color: var(--arrow-grey);
  border-radius: 50%;
  display: none;
}

.filter-item-input:checked + .filter-item-radio:after {
  display: block;
}

.filter-item-radio:hover:after {
  background-color: var(--form-hover);
}

.filter-button {
  background-color: var(--basic-white);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid var(--arrow-grey);
  cursor: pointer;
}

/* *************sorting************ */

.sorting {
  background-color: var(--filter-bg);
  padding: 6px 18px 8px 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 8px;
}

.sorting-item-link,
.sorting-title {
  color: var(--basic-black);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-title {
  width: 221px;
}

.sorting-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 380px;
}

.sorting-item:not(:last-child) {
  margin-right: 70px;
}

.sorting-item-link {
  border-bottom: 1px dotted var(--main-color);
  opacity: 0.3;
}

.sorting-item-link:hover {
  border-bottom: 1px solid var(--main-color);
  opacity: 1;
}

.sorting-item-link-active {
  color: var(--main-color);
  border: none;
  opacity: 1;
}

.sorting-arrows {
  display: flex;
  width: 41px;
  margin-left: 20px;
}

.sorting-arrow {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.sorting-arrow-asc {
  border-bottom: 10px solid var(--arrow-grey);
  margin-right: 21px;
}

.sorting-arrow-desc {
  border-top: 10px solid var(--arrow-grey);
}

.sorting-arrow:hover {
  border-bottom-color: var(--basic-black);
  border-top-color: var(--basic-black);
  border-left-color: transparent;
  border-right-color: transparent;
}

.sorting-arrow-active {
  border-bottom-color: var(--main-color);
  border-top-color: var(--main-color);
  border-left-color: transparent;
  border-right-color: transparent;
  pointer-events: none;
}

.pagination-link {
  color: var(--basic-black);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--pagination-button);
  padding: 10px 15px;
  border-radius: 4px;
  display: inline-flex;
  margin: 23px 4px 0 0;
}

.pagination-link:hover {
  border: 1px solid var(--arrow-grey);
}

.pagination-link:active {
  border: 1px solid var(--main-color);
}

.pagination-link-active {
  background-color: var(--main-color);
  color: var(--basic-white);
  border: 1px solid var(--main-color);
  pointer-events: none;
}

.pagination-link-next {
  padding: 10px 32px;
}

/* **************products-info*********** */

.products-info {
  background-color: var(--service-bg);
  padding: 68px 0 56px;
}

.products-info-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 25px 0;
  font-weight: normal;
}

.products-info-content {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}

/* *****************feedback************ */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  box-shadow: 0 30px 50px var(--modal-shadow-70);
  border-top: 7px solid var(--main-color);
}

.modal-active {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-feedback-contact {
  width: 620px;
  background-color: var(--bg-popup);
  margin: -215px 0 0 -310px;
}

.modal-close {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 21px;
  right: 11px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.modal-close:before,
.modal-close:after {
  content: "";
  position: absolute;
  top: 8px;
  right: -2px;
  width: 25px;
  height: 4px;
  background-color: var(--main-color);
  border-radius: 1px;
  cursor: pointer;
}

.modal-close:before {
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}

.modal-feedback-contact-list {
  padding: 33px 80px 37px;
  background-color: var(--basic-white);
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.modal-feedback-contact-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.modal-feedback-contact-item-coment {
  width: 100%;
}

.modal-feedback-contact-title {
  margin: 11px 0 13px;
}

.modal-feedback-contact-field {
  width: 220px;
  border: 2px solid var(--arrow-grey);
  border-radius: 2px;
  font-size: 13px;
  color: var(--text-darck-grey);
  padding: 7px 8px 7px 12px;
}

.modal-feedback-contact-field-comment {
  width: 100%;
  min-height: 114px;
}

.modal-feedback-contact-button {
  display: block;
  width: 460px;
  border: none;
  margin: 37px auto;
}

/* ************modal-map************ */

.modal-map {
  width: 943px;
  height: 449px;
  background-color: var(--bg-modal-map);
  margin: -225px 0 0 -471px;
}

/* *************modal-buy********** */

.modal-buy {
  width: 620px;
  background-color: var(--basic-white);
  margin: -141px 0 0 -310px;
}

.modal-buy-text {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  padding: 67px 75px;
  text-align: center;
  position: relative;
}

.modal-buy-text:before {
  content: "";
  width: 66px;
  height: 66px;
  background-color: var(--accept-bg);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 81px;
  transform: translateY(-50%);
}

.modal-buy-text:after {
  content: "";
  width: 37px;
  height: 23px;
  border-bottom: 7px solid var(--basic-white);
  border-left: 7px solid var(--basic-white);
  position: absolute;
  left: 96px;
  transform: rotate(-45deg);
}

.modal-buy-buttons {
  padding: 37px;
  background-color: var(--bg-buy-button);
  display: flex;
  justify-content: center;
}

.modal-buy-button {
  min-width: 192px;
  margin: 0 5px;
}

.modal-buy-button-back {
  border: none;
  background-color: var(--basic-white);
  color: var(--basic-black);
  cursor: pointer;
}

.modal-buy-button-back:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
